@media (min-width:320px) and (max-width:575px) {

  /* menu-part */
  nav {
    padding: 0 15px;
  }

  nav .fixed {
    padding: 0 15px !important;
  }

  nav .navbar-brand img {
    width: 70%;
  }

  nav ul {
    margin-top: 8px;
    background: #222222;
  }

  nav ul li a {
    margin-top: 10px;
    text-align: center;
  }

  nav ul li a:after {
    position: absolute;
    bottom: 2px;
    left: 68px !important;
    width: 0%;
    height: 3px;
    background: #744fa0;
    content: "";
    transition: .4s;
    text-align: center;
  }

  nav .tbn {
    text-align: center;
  }

  /* menu-part */

  /* banner-part */
  #banner .banner-slide .overlay p {
    width: 275px !important;
    margin-bottom: 70px !important;
  }

  #banner .banner-slide .overlay a {
    margin-top: 20px !important;
  }

  /* banner-part */

  /* about-part */
  #about {
    margin-top: 50px !important;
  }

  #about .text p {
    width: auto;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 24px !important;
  }

  #about .image img {
    margin-left: 40px !important;
    margin-top: 20px;
    width: 70%;
  }

  /* about-part */

  /* screenshort-part */
  #screenshort .image img {
    width: 100% !important;
  }

  #screenshort .screen-slide ul li button {
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #353535 !important;
    outline: none !important;
  }

  /* screenshort-part */

  /* features-part */
  #feedback-part .feedback-part .overlay .slider .slick-list {
    height: 400px !important;
  }

  #feedback-part .feedback-part .text {
    height: 360px !important;
    width: auto;
  }

  #feedback-part .feedback-part .overlay .text .p1 {
    width: auto !important;
    line-height: 2 !important;
  }

  #feedback-part .feedback-part .overlay .img-slider .image {
    width: 123px !important;
    height: 120px !important;
    margin: 0 auto;
  }

  #feedback-part .feedback-part .overlay .one {
    height: 170px !important;
  }

  #feedback-part .feedback-part .overlay .one ul {
    top: 117% !important;
    left: 48% !important;
  }

  /* feedback-part */


  /* footer-part */
  #footer .icon i {
    width: 40px !important;
    height: 40px !important;
    line-height: 42px !important;
    font-size: 19px !important;
  }

  #footer .text p {
    font-size: 13px;

  }

  .btop {
    width: 35px !important;
    height: 35px !important;
    font-size: 20px !important;
    text-align: center !important;
    line-height: 35px !important;
  }

  /* footer-part */
}

@media (min-width:576px) and (max-width:767px) {

  /* menu-part */
  nav {
    padding: 0 15px;
  }

  nav .fixed {
    padding: 0 15px !important;
  }

  nav .navbar-brand img {
    width: 100%;
  }

  nav ul {
    margin-top: 8px;
    background: #222222;
  }

  nav ul li a {
    margin-top: 10px;
    text-align: center;
  }

  nav ul li a:after {
    position: absolute;
    bottom: 2px;
    left: 138px !important;
    width: 0%;
    height: 3px;
    background: #744fa0;
    content: "";
    transition: .4s;
    text-align: center;
  }

  nav .tbn {
    text-align: center;
  }

  /* menu-part */

  /* banner-part */
  #banner .banner-slide .overlay p {
    width: 275px !important;
    margin-bottom: 70px !important;
  }

  #banner .banner-slide .overlay a {
    margin-top: 20px !important;
  }

  /* banner-part */

  /* about-part */
  #about {
    margin-top: 50px !important;
  }

  #about .text p {
    width: auto;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 24px !important;
  }

  #about .image img {
    margin-left: 75px !important;
    margin-top: 20px;
    width: 70%;
  }

  /* about-part */

  /* screenshort-part */
  #screenshort .image img {
    width: 100% !important;
  }

  #screenshort .screen-slide ul li button {
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #353535 !important;
    outline: none !important;
  }

  /* screenshort-part */

  /* features-part */

  #feedback-part .feedback-part .overlay .slider .slick-list {
    height: 400px !important;
  }

  #feedback-part .feedback-part .text {
    height: 360px !important;
    width: auto;
    left: 28px !important;
  }

  #feedback-part .feedback-part .overlay .text .p1 {
    width: auto !important;
    line-height: 2 !important;
  }

  #feedback-part .feedback-part .overlay .img-slider .image {
    width: 123px !important;
    height: 120px !important;
    margin: 0 auto;
  }

  #feedback-part .feedback-part .overlay .one {
    height: 170px !important;
  }

  #feedback-part .feedback-part .overlay .one ul {
    top: 117% !important;
    left: 48% !important;
  }
  /* features-part */

  /* pricing-part */

  #pricing .freeplan {
    width: 400px;
    margin: 0 auto !important;
    border-left: 2px solid #f1f1f1 !important;
    border-right: 2px solid #f1f1f1 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  #pricing .freeplan:hover {
    transform: scale(1) !important;
  }

  #pricing .freeplan .button {
    margin-bottom: 60px !important;
  }

  /* pricing-part */

  /* member-part */

  #team-part .member {
    width: 400px !important;
    margin: 0 auto;
  }

  /* member-part */

  /* feedback-part */

  #feedback-part .feedback-part .text {
    width: 455px !important;
    padding: 30px 20px !important;
  }

  #feedback-part .feedback-part .img img {
    width: 100px !important;
    height: 100px !important;
  }

  /* feedback-part */


  /* footer-part */
  #footer .icon i {
    width: 40px !important;
    height: 40px !important;
    line-height: 42px !important;
    font-size: 19px !important;
  }

  #footer .text p {
    font-size: 13px;

  }

  .btop {
    width: 40px !important;
    height: 40px !important;
    font-size: 25px !important;
    text-align: center !important;
    line-height: 35px !important;
  }

  /* footer-part */

}

@media (min-width:768px) and (max-width:991px) {

  /* menu-part */
  nav {
    padding: 0 15px;
  }

  nav .fixed {
    padding: 0 15px !important;
  }

  nav .navbar-brand img {
    width: 100%;
  }

  nav ul {
    margin-top: 8px;
    background: #222222;
  }

  nav ul li a {
    margin-top: 10px;
    text-align: center;
  }

  nav ul li a:after {
    position: absolute;
    bottom: 2px;
    left: 178px !important;
    width: 0%;
    height: 3px;
    background: #744fa0;
    content: "";
    transition: .4s;
    text-align: center;
  }

  nav .tbn {
    text-align: center;
  }

  /* menu-part */

  /* about-part */
  #about {
    margin-top: 50px !important;
  }

  #about .text p {
    width: auto;
    font-size: 14px !important;
    text-align: center !important;
    line-height: 24px !important;
  }

  #about .image img {
    margin-left: 105px !important;
    margin-top: 20px;
    width: 70%;
  }

  /* about-part */

  /* screenshort-part */
  #screenshort .image img {
    width: 100% !important;
  }

  #screenshort .screen-slide ul li button {
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #353535 !important;
    outline: none !important;
  }

  /* screenshort-part */

  /* features-part */

  #feedback-part .feedback-part .overlay .slider .slick-list {
    height: 400px !important;
  }

  #feedback-part .feedback-part .text {
    height: 360px !important;
  }
  #feedback-part .feedback-part .text {
    width: auto !important;
    padding: 30px 20px !important;
    left: 24px !important;
}

  #feedback-part .feedback-part .overlay .text .p1 {
    width: auto !important;
    line-height: 2 !important;
  }

  #feedback-part .feedback-part .overlay .img-slider .image {
    width: 123px !important;
    height: 120px !important;
  }

  #feedback-part .feedback-part .overlay .one {
    height: 170px !important;
  }

  #feedback-part .feedback-part .overlay .one ul {
    top: 117% !important;
    left: 47% !important;
  }
  /* features-part */

  /* pricing-part */

  #pricing .freeplan {
    width: 500px;
    margin: 0 auto !important;
    border-left: 2px solid #f1f1f1 !important;
    border-right: 2px solid #f1f1f1 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  #pricing .freeplan:hover {
    transform: scale(1.1) !important;
  }

  #pricing .freeplan .button {
    margin-bottom: 60px !important;
  }

  /* pricing-part */

  /* member-part */

  #team-part .member {
    width: 400px !important;
    margin: 0 auto;
  }

  /* member-part */

  /* feedback-part */

  #feedback-part .feedback-part .text {
    width: 655px !important;
    padding: 30px 20px !important;
  }

  #feedback-part .feedback-part .img img {
    width: 130px !important;
    height: 130px !important;
  }

  /* feedback-part */


  /* footer-part */
  .btop {
    width: 45px !important;
    height: 45px !important;
    font-size: 30px !important;
    text-align: center !important;
    line-height: 44px !important;
  }

  /* footer-part */























}